## Exercise: Problem 3

    3. The ACCOUNT table contains a list of accounts held by customers.  A customer may have more than one account of each type   The layout for the table is as follows:
    CUSTOMER_No    CUSTOMER_AGE	ACCOUNT_NUMBER	   ACCOUNT TYPE
      123	           27	         A987		     Home Loan
      123	           27	         B6547		    Credit Card
      124	           42	         B7531 		   Credit Card
…

Show how you determine the proportion of customers with a credit card for each of the following age ranges : 18 – 29, 30 – 44, 45 – 59, 60+.

The output should look something like this:

    Age Band
    % with Credit Card
    18-29    44.9%
    30-44    41.2%
    45-59    45.5%
    60+      43.0%

In [1]:
import pandas as pd
from random import randint
import numpy as np
Accounts = ['Home Loan','Credit Card']

In [2]:
x = np.random.randint(2, size=(10000,1))
x1 = np.random.randint(311000,317000, size=(10000))

In [3]:
Acc = pd.DataFrame({'Account Type': [Accounts[i[0]] for i in x]})
Acc_no = pd.DataFrame({'Account Number': list(np.random.randint(311000,316000, size=(10000,1)))})
Customer_basic = Acc_no.join(Acc)

In [4]:
Customer_basic1 = Customer_basic.sort_values('Account Number',axis = 0,ascending=True).reset_index(drop=True)

In [14]:
z=[]
z1=[]
c = 1
a = np.random.randint(18,75, size=(10000))
for i in range(Customer_basic1.shape[0]):
    z.append(c)
    z1.append(a[c])
    if i != Customer_basic1.shape[0]-1:
        if Customer_basic1.iloc[i,0] != Customer_basic1.iloc[i+1,0]:
            c+=1

In [15]:
Customer_basic1.shape[0]
Customer_id = pd.DataFrame({'Customer Number':z})
Customer_age = pd.DataFrame({'Customer Age':z1})
Customer_basic2 = Customer_age.join(Customer_basic1)
Customer_basic3 = Customer_id.join(Customer_basic2)

In [16]:
Customer_basic3.head()

   Customer Number  Customer Age Account Number Account Type
0                1            64       [311000]  Credit Card
1                1            64       [311000]  Credit Card
2                2            24       [311001]  Credit Card
3                2            24       [311001]  Credit Card
4                3            54       [311002]  Credit Card

In [17]:
data_1829 = Customer_basic3[(Customer_basic3['Customer Age'] >= 18) & (Customer_basic3['Customer Age'] <= 29)]
data_3044 = Customer_basic3[(Customer_basic3['Customer Age'] >= 30) & (Customer_basic3['Customer Age'] <= 44)]
data_4559 = Customer_basic3[(Customer_basic3['Customer Age'] >= 45) & (Customer_basic3['Customer Age'] <= 59)]
data_60 = Customer_basic3[(Customer_basic3['Customer Age'] >= 60) & (Customer_basic3['Customer Age'] <= 100)]

In [18]:
at1= data_1829['Account Type'].value_counts()
at2= data_3044['Account Type'].value_counts()
at3= data_4559['Account Type'].value_counts()
at4= data_60['Account Type'].value_counts()

In [19]:
final = pd.DataFrame({'Age Band': ['18-29','30-44','45-59','60+'],'% with Credit Card': [at1[1]/data_1829.shape[0],
                            at2[1]/data_1829.shape[0],at3[1]/data_1829.shape[0],at4[1]/data_1829.shape[0]]})

In [20]:
final

  Age Band  % with Credit Card
0    18-29            0.496517
1    30-44            0.655721
2    45-59            0.643284
3      60+            0.671642